#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 100px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 40px;
  span {
    &:nth-child(even) {
      margin-right: 30px;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  input {
    width: 30px;

    &:nth-child(even) {
      margin-right: 20px;
    }
  }

}