#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 60px;
  font-family: 'Roboto', sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  
  @media (max-width: 700px) {
    width: 500px;
    max-width: 90%;
  }
  
  .selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

    @media (max-width: 700px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }
}

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.answer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.start-button {
  border: 1px solid red;
}

.check-button {
  border: 1px solid blue;
}

.answer-button {
  border: 1px solid green;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 40px;
  span {
    &:nth-child(even) {
      margin-right: 30px;
    }
  }
}

.inputs-container {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  
  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  input {
    width: 30px;
    font-size: 30px;
    text-align: center;

    &:nth-child(even) {
      margin-right: 10px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  span {
    width: 38px;
    font-size: 30px;
    text-align: center;

    &:nth-child(even) {
      margin-right: 10px;
    }
  }
  .right {
    color: green;
  }
  .wrong {
    color: red;
  }
}

.answer-dialog {
  width: 400px;
  max-width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 40px;

    &:nth-child(even) {
      margin-right: 30px;
    }
  }
}

.selector {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.project-description {
  padding: 20px 5%;
  a {
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  .social-info {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
  
    .social-link {
      img {
        width: 30px;
      }
    }
  }
  .made-by {
    text-align: right;
  }
}